<!-- Sidebar -->
<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">
            <img [src]="profileImg" style="float: left;width: 50px;height: 50px;border-radius: 50%;top: 10px;position: relative;"/>
            <div style="float: left;">{{ username }}</div>
        </a>
    </li>
    <li>
        <a (click)="openEvent()" [ngClass]="{active: activeRoute('event')}">Challenges</a>
    </li>
    <li>
        <a href="#">My Run</a>
    </li>
    <li>
        <a (click)="logout()">Logout</a>
    </li>
</ul>
<!-- /#sidebar-wrapper -->