<div class="container">
    <div class="row">
        <h1>{{ (event | async)?.name }}</h1>
        <div class="col-12">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18" [zoomControl]="false">
                <agm-marker [latitude]="firstLat" [longitude]="firstLng"></agm-marker>
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

                <agm-polyline [clickable]="true" [editable]="true" [geodesic]="true" [polylineDraggable]="false" [strokeColor]="000000" [strokeWeight]="5" [visible]="true" [zIndex]="1">
                    <agm-polyline-point *ngFor="let point of pathPoints;" [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>
                </agm-polyline>
            </agm-map>  
        </div>   
        <div class="col-12">
        <br/>
            <p class="dist"><img class="icon-img" src="../../../../assets/road_icon.png"> : {{ distance | number : '1.3-3' }} km {{ runStat }}</p>
        </div>
        <div class="col-12">
            <p class="time"><img class="icon-img" src="../../../../assets/clock_icon.png">  : {{ ( '00' + hour ).slice(-2) }}:{{ ( '00' + time%60 ).slice(-2) }}</p>
        </div>
        <div class="col-12">
            <p class="speed"><img class="icon-img" src="../../../../assets/speed_icon.png">  : {{ runSpeed | number : '1.3-3' }} km/hr</p>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" (click)="startRun()" (click)="show = !show" *ngIf="!show">START</button>
            <button class="btn btn-danger" (click)="stopRun()" (click)="show = !show" *ngIf="show">STOP</button>
        </div>
    </div>
</div>


