agm-map {
  height: 300px;
}
h1{
  color: #0072bc;
}
.dist, .time, .speed{
  font-weight: 700;
  font-size: 20px;
}
.icon-img{
  width: 30px;
}
.start-button {
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  width: 130px;
  margin: 10px auto 0px auto;
}