#wrapper {
   position: absolute;
   top: 50%;
   margin-top: -200px;/* half of #content height*/
   left: 0;
   width: 100%;
}
#content {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   height: 401px;
}
.topper{
    height: 100%;
    background-color: rgba(187, 187, 187, 0.31);
    min-width: 100%;
    position: fixed;
}